apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-fbxgprwg
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-fbxgprwg:25bf443d75fa4a718e8ac6076b1de81bbf5f08b6@sha256:f978cd7e9bb67bd197932a79b6525ea0b6482422799ce8bd22bdf1cf4503e5a4
        name: container-image  
